<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key ="filePath" value="C:\Users\david\Projetos\TournamentTracker\Data"/>
	</appSettings>
	<connectionStrings>
		<add name="Tournaments" connectionString="Server=david\SQLEXPRESS;Database=Tournaments;TrustServerCertificate=True;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>	
</configuration>